@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

:root{
    --green: hsl(75, 94%, 57%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --white:    hsl(0, 0%, 100%);
  }

body {
    background-color: var(--grey-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    background-color: var(--grey-800);
    padding: 20px;
    margin: 20px;
    min-width: 327px;
    border-radius: 12px;
}

.socials h2{
    background-color: var(--grey-700);
    margin: 15px;
    padding: 10px;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.socials h2:hover {
    background-color: var(--green);
    color: var(--grey-900);
}

img{
    border-radius: 50%;
    width: 88px;
    height: 88px;
    margin-bottom: 24px;
}

h1 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-bottom: 4px;
    font-weight: 800;
}

h2 {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 800;
    color: var(--green);
}

p {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin: 24px 0;
    font-weight: 400;
}